body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

.searchBar {
  width: 45rem;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; 
}

.movies {
  display: flex;
  flex-direction: row;
}

.moviesList {
  margin-top:7rem;
  align-items: center;
}

.pages{
  width: 5rem;
  height: 4rem;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 1.8rem;
}

.movie {
  width: 20rem;
  margin: 0 1rem;
}

.card {
  text-align: center;
}

.card-subtitle {
  margin: 0.1rem;
}

.card-link {
  margin: 0.5rem;
}

.custom-btn {
  margin-top: 4rem;
}